@charset "UTF-8";
/* Body */
body {
	background-color: #FFFFFF;
	background: url("../images/smoke.png");
	background-attachment: scroll;
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.content{
	width: 800px;
	margin: 0 auto;
	text-align:justify;
	display: block;
	min-height: 300px;
}

.content p{
	text-align: justify;
	font-family: chaparral-pro, serif;
	font-size: 20px;
	font-weight: 400;
	display: inline;
	font-style: normal;
}

.content b{
	font-family: rift, sans-serif;
	font-weight: 600;
	font-size: 20px;
	text-align: left;
	font-style: normal;
}
/* Container */
.container {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Navigation */
header {
	width:100%;
	height: 80px;
	text-align: center;
	padding-top:20px;
	padding-bottom: 20px;
	margin: 30px 0px 0px 0px;
	font-weight: 1000;
	font-style: normal;
	letter-spacing: -2px;
	color: #fff;
	-webkit-text-stroke: 2px #15a888;
	background-color: #5bdab8;
}

@media screen and (min-width:501px)
{
	header{
	font-size: 5.5vw;
	}
	.menu a{
		font-size: 25px;
	}
}
@media screen and (max-width:500px)
{
	header{
		font-size: 45px;
	}
	.menu a{
		font-size: 20px;
	}
}

.menu{
	align-content: center;
	position:relative;
	margin: 0 auto;
	padding: 1em 0 1em;
	max-width: 1000px;
	height: 50px;
	text-align: center;
	list-style: none;
}

td{
	margin-left:-1px;
	max-width:500px;
}

td img{
	width:325px;
}

iframe{
	width:800px;
	height:550px;
	text-align: center;
}

.menu a,
.menuitem{
	width:100px;
	height: 45px;
	position:inherit;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	font-family: moret, sans-serif;
	font-style: normal;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000;
	cursor: pointer;
	transition: color .3s;
}

.menu a:hover{
	color:#5d99c6;
	-webkit-transition: color .3s,border .1s;
   -moz-transition: color .3s,border .1s;
     -o-transition: color .3s,border .1s;
        transition: color .3s,border .1s;
}


footer{
	height: auto;
	width: 100%;
	background-color: #545454;
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
	font-family: trajan-sans-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
}

footer p{
	display: inline-block;
	padding: 10px 50px;
	margin: 0px;
}