.dropdown-content {
	margin: 0px 100px;
  position: relative;
}

.dropdown-content a,
.dropdown-content button{
	font-family: Rift, sans-serif;
	font-weight: 40;
	padding: 0 4px;
	font-style: normal;
	letter-spacing: 1px;
	font-size: 17px;
	text-decoration: none;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
	color: #535151;
	border: none;
	background: #fff;
}


.dropdown-content a:hover,
.dropdown-content button:hover,
.dropdown-content button.select{
	color: #F3EBEB;
	background: #535151;
	font-weight: 200;
	border: none;
	border-radius: 3px;
	-webkit-transition: color .3s,border .1s;
   -moz-transition: color .3s,border .1s;
     -o-transition: color .3s,border .1s;
        transition: color .3s,border .1s;
}

.pagecaption{
	align-content: center;
	position:relative;
	margin: 0 auto;
	padding: 1.5em 0 1em;
	max-width: 850px;
	text-align: left;
	width: 100%;
	height:auto;
	font-family: chaparral-pro, serif;
	font-size: 20px;
	color: #266A47;
	font-weight: 300;
}

.pagecaption p{
	width: 60%;
	height: auto;
}

.pagecaption img{
	width:650px;
	height: 400px;
	align-content: center;
}

.pagecaption h3,.pagecaption h3 a {
  font-family: moret;
  font-size: 20px;
  font-weight: bold;
  color: #D3A508;
  margin: 0;
  padding: 10px 0;
}

a{
	color:#4287f5;
}

a:hover{
	color:#8441f0;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 1em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
	overflow: hidden;
}

.column{
	display: none;
}

.show {
  display: block;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 20px;
    max-width: 290px;
    max-height: 200px;
    background: black;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
	text-align: center;
    min-height: 200px;
    max-width: 100%;
    opacity: 1;
	background: black;
}

.grid figure figcaption {
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.effect-bubba h2 {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    padding: 15px 2.5em;
	text-transform: capitalize;
	font-family: ff-meta-serif-web-pro, sans-serif;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

span.codeclass{
	font-family:monospace;
	font-size:16px;
	color: #4287f5;
}
